@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Júlio César Contipelli Martiniano de Oliveira</h3>

<address>
   +55 19 99243 2833
</address>

<address>
    <strong>Email:</strong> <a href="mailto:julio.contipelli@gmail.com">julio.contipelli@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/juliocesarcmo/">https://www.linkedin.com/in/juliocesarcmo/</a>
</address>
